@font-face{
    font-family: gilroy;
    src: url('bootstrap4/font/gilroy-light.otf');
}
body{
    overflow-X: hidden;
}

.navbar{
    font-family:gilroy;
    color:black;
    font-weight: 600;
    padding-left:4%!important;
    padding-right:4%!important;
}
.topsection{
    height: 600px;
    font-family: gilroy;
    color: black;
    .row{
        height: 100%;
        .topside-1{
            height: 100%;
            position: relative;
            display:flex;
            flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left:5% ;
                h1{
                    font-size: 3.5rem;
                    font-weight: bold;
                }
                .topsection-actions{
                    margin-top:6% ;
                }
            

        }
        .topside-2{
            height: 100%;
            position: relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .topsection-img{
                width: 85%;
                // height: ;
            }
        }
        
    }
   
}
.second-s {
    font-family: gilroy;
    position: relative;
    height:350px;
    .row{
        height: 100%;
   
    .fs-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:5%;
        height: 100%;
        .second-s-content-wrapper{
        width:80%;
        text-align:center;

         h2{
            font-size: 2rem;
            font-weight: bold;
        }
       
        }
    }
    .onion{
        width: 100px;
        height: 100px;
        position: absolute;
        top:5%;
        left:0%;
    }
}
}
.section-third{
    font-family: gilroy;
    margin-top: 70px;
    
.row{
    height: 100%;
 
    .st-r1-c1{
        height: 100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .st-r2-c2{
        height: 100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
   
    .service-box{
        width: 320px;
        height: 200px;
      display: inline-block;
      margin:0px 2% 0px 2%;
        &.card{
            border:none;
        }
        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:3%;
            width:70px;
            height: 70px;
            &.buffet{
                background-color: #FAE6D8;
            }
            &.home{
                background-color:#CEF0E5;

            }
            &.reservation{
                background-color: #C7E6FF;
            }
            &.buffer2{
                background-color:#FAC7C4;
    
            }
            img{
                width: 50px;
                height: 50px;
             }
        }
        h3{
            font-weight: bold;
        }
   
    }
    .tomato{
        position:absolute;
        right:0%;
        top:0%;
        width:120px;
        height: 135px;

    }
    .dish{
        transition: .3s all;
        &:hover{
            transform: scale(1.4);
        }
    }
    &:nth-child(2){
        margin-top:100px;
        height: 100%;
    }
}
}

// .section-third-two{
//     font-family: gilroy;
//     .row{
//         height: 100%;
//         .dish{
//             transition: .3s all;
//             &:hover{
//                 transform: scale(1.4);
//             }
//         }
//     .service-box{
//         width: 320px;
//         height: 200px;
//       display: inline-block;
//       margin:0px 2% 0px 2%;
//       figure{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         padding:3%;
//         width:70px;
//         height: 70px;
//         &.reservation{
//             background-color: #57b0f4a1;
//         }
//         &.buffer2{
//             background-color:#ff0d168c;

//         }
//         img{
//             width: 50px;
//             height: 50px;
//          }
//     }
//     h3{
//         font-weight: bold;
//     }
//     }
// }

// }



.fourth-s {
    font-family: gilroy;
    position: relative;
    height:350px;
    margin-top:100px;
    .row{
        height: 100%;
    }
    .fs-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:5%;
        height: 100%;
        position: relative;
        .fourth-s-content-wrapper{
        width:80%;
        text-align:center;

         h2{
            font-size: 2rem;
            font-weight: bold;
        }
      
        }
    }
    .chilies{
        position:absolute;
        right: 1.1%;
        top: -10%;
        width: 220px;
        height: 120px;
        transform: rotate(-30deg);
    }
}


.recipies-section{
    font-family: gilroy;
    .row{
        height: 100%;
        .prod-col{
            height: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .food-box{
                position: relative;
                margin:5%;
                height: 235px;
                width: 210px;
                background-color: white;
                transition: .3s all;
                &:hover .food-img{
                    transform: translateX(-60px) translateY(15px);
                }
                &:hover .food-back-text{
                    transform: translateX(40px);
                    
                }
                &:hover .hearbox{
                    background-color: red;
                    
                }
                .hearbox{
                    position: absolute;
                    right: -5%;
                    top:-5%;
                    background-color:black;
                    width:40px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    border-radius: 30% 0% 30% 0%;
                    transition: .3s all;

                    .far{
                        color:white;
                    }
                }
                .inner-wrap{
                    
                    box-shadow: 0px 3px 15px rgba(0,0,0,.2);
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding:4%;
                    border-radius: 10% 0% 10% 0%;

                    .title{
                        font-weight: bold;
                        font-size: 1.4rem;
                        margin-top: 10px;
                    }
                    .category{
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 4px;

                    }
                    .price{
                        margin-bottom: auto;
                    }
                    .food-back-text{
                        text-align:center;
                        margin-bottom: auto;
                        color:black;
                        transition: .3s all;
                        text-decoration: none;
                        &:hover{
                            transform: scale(1.1) translateX(35px);
                           
                        }
                    }
                    .food-img{
                        width:130px;
                        height: 130px;
                        position: absolute;
                        bottom:-7%;
                        transition: .3s all;
                        z-index: 2;

                    }
                }
            }
        }
    }
}
.carousel-section{
    margin-top: 100px;
    height:500px;
    font-family: gilroy;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
    .carousel{
        height: 100%;
        z-index: -100;
        .carousel-indicators{
            bottom:-15%;
            li{
                background-color:black ;
                cursor: pointer;
            }
        }
    }
    .carousel-inner{
        overflow:visible;
        .carousel-item{
                .slide-r{
                    .slide-col-1{
                        display: flex;
                        flex-direction:column ;
                        justify-content: center;
                        align-items: center;
                      
                        .slide-img-box{
                            position: relative;
                            
                            .label{
                                width:140px;
                                height: 140px;
                                border-radius: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content:center;
                                align-items: center;
                                color:white;
                                position: absolute;
                                left: -3%;
                                top:-3%;
                                background-color: rgb(255, 5, 5);
                                z-index: 1000000;
                               .price{
                                   font-size: 28px;
                                   letter-spacing: 2px;
                                   font-weight: bold;
                               }
                            }
                            img{
                                height:350px;
                                width: 350px;
                            }
                           
                        }
                    }
                    .slide-col-2{
                        display: flex;
                        flex-direction:column ;
                        justify-content: center;
                        align-items: start;
                        padding-left: 4%;
                        padding-right: 4%;
                        .slide-heading{
                            margin-bottom: 3%;
                            font-weight: bold;
                        }
                        .slide-description{
                            font-size: 14px;
                            margin-bottom: 5%;
                            line-height: 1.7;
                        
                        }
                        .slide-action{
                                background-color: black;
                                color:white;
                        }
                    }
                }
        }
    }
}









.footer{
    background-color: black;
    color: white;
    font-family: gilroy;
    height: 90px;
    position: relative;
    .footer-leaf{
        position: absolute;
        right:0%;
        bottom:70%;
        width: 200px;
        height: 250px;
    }
    .footer-r{
        height: 100%;
        .footer-c1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        height: 100%;
        p{
            margin-bottom: 0%;
        }

        }
        .footer-c2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        height: 100%;

            .footer-list{
                display: flex;
                flex-direction: row;
                justify-content:center;
                margin-bottom:0%;
                width: 100%;
                .list-item{
                    margin:0 5% 0 5%;
                }
            }
        }
        .footer-c3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        height: 100%;
        .fab{
            display: inline-block;
            color:white;
            margin:0 3% 0 3%;
            font-size: 33px;
        }

        }
    }
}

img{
    width:100%;
    height: 100%;
}

// for mobiles
@media only screen and (max-width: 500px) and (min-width: 0px) {
    .topsection{
        height: 100%;
        margin-top:5%;
        .row{
            .topside-1{
                h1{
                    font-size: 2.4rem;
                }
.topsection-actions{
margin-top: 3%;
    .btn{
        white-space: nowrap;

    }
}
            }
            .topside-2{
                padding-top:8%;
            }
        }
      
    }

// 
.second-s .row {
    .onion{
        top:-16%;
        width: 80px;
        height: 80px;
    }
    .ss-col .second-s-content-wrapper{
        width: 100%;
        height: 100%;
        margin-top: auto;
        h2{
            font-size: 2.1rem;
        }
        p{
            margin-bottom:0%;
            margin-top:3%; 
        }
    }
}
// 
.section-third{
    margin-top:0% ;
    .row{
        .st-r1-c1{
            .tomato{
                top:-23%;
                width:90px;
                height: 90px;
            }
            .service-box{
                display: flex;
                justify-content: center;
                align-items: center;
               text-align: justify;
                margin-bottom: 5%;
            }
        }
        // .st-r2-c1{

        // }
        .st-r2-c2{
            .service-box{
                display: flex;
                justify-content: center;
                align-items: center;
               text-align: justify;
                margin-bottom: 5%;
            }
        }
        &:nth-child(2){
            margin-top:30px;
        }
    }

}
.fourth-s{

     margin-top:50px;
    .chilies{
        width: 120px;
        height: 55px;
        top:-17%;
    }
    .fs-col{
        .fourth-s-content-wrapper{
           
            h2{
                font-size: 2.1rem;
            }
            p{
                text-align: justify;
            }
        }
    }
  
}
.recipies-section{
    .row{
        .prod-col{
            .food-box{
                margin-bottom:40px;
            }
        }
    }
   
}
.carousel-section{
    height: 100%;
    margin-bottom: 50px;
    .carousel-inner {
        .carousel-item {
            .container{
                padding:0%;
            }
            .slide-r{
                .slide-col-1 {
                    .slide-img-box{
                        .label{
                            width:80px;
                            height: 80px;
                        }
                        img{
                            width:200px;
                            height: 200px;
                        }
                    }
                }
                .slide-col-2{
                    .slide-heading{
                        font-size: 2rem;
                    }
                    .slide-description{
                        font-size: 14px;
                        text-align: justify;
                    }
                }
            }
        }
    }}
    .footer{
        .footer-leaf{
            width:100px;
            height: 125px;
        }
        .row{
            .footer-c1{
                font-size: 10px;
            }
            .footer-c2{
                font-size: 12px;
            }
            .footer-c3{
                .fab{
                    font-size: 12px;

                }
            }

        }
    }
   
    
  


}
// for tablets
@media only screen and (max-width: 768px) and (min-width: 501px) {
    .topsection{
        height: 100%;
       
    }
}

// for desktop
